.container-drag{
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 850px;
    background-color: tomato;
}
.droppable{
    width: 150;
    height: 400;
}
.draggable{
    width: 100;
    height: 100;
}